/* font-family: 'Glory', sans-serif;
font-family: 'Open Sans', sans-serif; */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Tipografia ---------*/

body {
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Glory', sans-serif;
    display: inline-block;
}

.titolo_app {
    font-weight: 700;
    font-size: 55px;
    vertical-align: baseline;
    vertical-align: 10%;
}

h2 {
    font-weight: 500;
}

li {
    list-style: none;
}

li, button {
    font-family: 'Open Sans', sans-serif;
}

/*-------------- Layout --------------*/

body {
    min-height: 100vh;
    background: rgb(243, 243, 243);
}

header {
    padding: 10px 0 10px 30px;
    background: white;
}

main {
    padding: 30px 200px 20px;
}

span {
    margin: 10px;
}

.contenitore {
    background: white; 
    border-radius: 8px; 
}

.sezione_aggiungi_tasks {
    padding: 15px 50px 10px;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.contenitore_sezioni_tasks {
    padding: 50px;
}

.sezione_tasks {
    padding: 15px 0;
}

.new_task {
    padding-top: 0;
}

.task {
    padding: 10px 0;
}

/*---------------- Stilizzazione componenti ----------------*/


/*BUTTONS*/
button {
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
}

.btn_aggiungi_task {
    color: white;
    background:rgba(69,171,234,255);
    border: none;
}

.btn_aggiungi_sezione {
    background: transparent;
    border: 1px solid rgb(211, 211, 211);
    color: rgb(211, 211, 211);
}

/*TASKS*/

.stato_task {
    display: inline-block;
    width: 25px;
    height: 25px;
    
    border-radius: 50%;
}

.fatto {
    border: 1px solid rgba(110,197,176,255);
    color: rgba(110,197,176,255);
    padding-left: 5px;
}

.non_fatto {
    border: 1px solid rgba(236,88,79,255);
    color: rgba(236,88,79,255);
    padding-left: 7px;
}




















