/* font-family: 'Glory', sans-serif;
font-family: 'Open Sans', sans-serif; */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Tipografia ---------*/

body {
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Glory', sans-serif;
    display: inline-block;
}

.titolo_app {
    font-weight: 700;
    font-size: 40px;
    vertical-align: 25%; /*Allineamento verticale della scritta rispetto a .logo_boolean*/
    margin-left: 5px;
}

h2 {
    font-weight: 500;
}

li {
    list-style: none;
}

li, button {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-weight: 600;
}

/*-------------- Layout --------------*/

body {
    min-height: 100vh;
    background: rgb(243, 243, 243);
}

header {
    padding: 10px 0 10px 30px;
    background: white;
}

main {
    padding: 30px 250px 20px;
}

.stato_task {
    margin-right: 10px;
}

.tag_categoria {
    margin-left: 10px;
}

.contenitore {
    background: white; 
    border-radius: 8px; 
}

.sezione_aggiungi_tasks {
    padding: 15px 50px 10px;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.contenitore_sezioni_tasks {
    padding: 50px;
}

.sezione_tasks {
    padding: 15px 0;
}

.task {
    padding: 10px 0;
}

.new_task {
    padding-top: 0;
}

.upcoming {
    padding-bottom: 0;
}

/*--------- Stilizzazione componenti --------*/


/*BUTTONS*/
button {
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
}

.btn_aggiungi_task {
    color: white;
    background:rgba(69,171,234,255);
    border: none;
}

.btn_aggiungi_sezione {
    background: transparent;
    border: 1px solid rgb(211, 211, 211);
    color: rgb(211, 211, 211);
}

/*TASKS*/

/*Stato del task*/

.stato_task {
    display: inline-block; /*Rende possibile la modifica delle dimensioni dello <span>*/
    width: 25px;
    height: 25px;
    font-weight: bold;
    border-radius: 50%;
}

.fatto {
    border: 2px solid rgba(110,197,176,255);
    color: rgba(110,197,176,255);
    padding-left: 3px;
}

.non_fatto {
    border: 2px solid rgba(236,88,79,255);
    color: rgba(236,88,79,255);
    padding-left: 6px;
}

/*Stilizzazione tag categoria*/

.tag_categoria {
    padding: 5px 15px;
    border-radius: 13px;
    color: white;
}

.editoriale {
    background: rgba(69,171,234,255);
}

.q1_goals {
    background: rgba(156,114,228,255);
}

.recruiting {
    background: rgba(100,192,169,255);
}

.mobile {
    background: rgba(242,158,51,255);
}

.website {
    background: rgba(216,99,161,255);
}

.sales {
    background: rgba(176,201,38,255);
}


















